@page
@model LibraryManagement.Pages.Application.AdminArea.UserManagement.IndexModel
@{
    var bcVal = new DNVModel
            {
                PageName = "User",
                LinkName = new (string linkName, string pageName, bool isCurrentPage)[]
                {
            ("/Application/AdminArea/Index","Dashboard",false),
            (null,"Student Management",true)
                }
            };
             ViewData["Title"] = "Student";
}
<partial name="PartialViews/_ValidationMessage" />
<vc:dashboard-navigation model="bcVal" />
<partial name="_AddUser" model="new InputUserModel()" />
<partial name="_FormQR-Codes" model="new RecordSelectedInputModel()" />
<span class="d-none" id="pdfHeader">Students Data Table</span>
<vc:user-navigation user="Student"/>
    <div class="d-flex align-items-center justify-content-between mb-2">
        <button data-bs-target="#student-add" data-bs-toggle="modal" class="btn btn-primary rounded-pill px-4">Add New Student <i class="fa-solid fa-user-plus"></i></button>
        <div class="gap-3">
            <button data-bs-target="#student-select" data-bs-toggle="modal" class="btn btn-info text-white rounded-3"><i class="fa-solid fa-qrcode"></i></button>
            <partial name="_StudentSelect" model="new RecordSelectedInputModel()" />
            <button id="btn-export-excel" class="btn btn-info text-white rounded-3"><i class="fa-regular fa-file-excel"></i></button>
        </div>
    </div>
    <div class=" bg-white rounded-3 shadow px-4 py-3">
        <table id="exportTable" class="table"
               data-toggle="table"
               data-search="true"
               data-pagination="true"
               data-side-pagination="client"
               data-page-size="5"
               data-page-list="[5,10,25,50,100,All]">
            <thead>
                <tr>
                    <th data-sortable="true">ID No.</th>
                        <th data-sortable="true">Last Name</th>
                    <th data-sortable="true">First Name</th>
                    <th data-sortable="true">Middle Name</th>
                        <th data-sortable="true">Program</th>
                        <th data-sortable="true">Year Level</th>
                       
                    <th data-sortable="true">Gender</th>
                    <th data-sortable="true">Email</th>
                    <th data-sortable="true">Phone No.</th>
                        <th>Actions</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                @foreach (var user in Model.Records)
                {
                    if (user.UserType == Users.Student)
                    {
                        <tr>
                            <td>
                                <a class="btn btn-outline-primary text-nowrap">
                                    @user.UserId
                                </a>
                            </td>
                            <td>@user.LastName</td>
                            <td>@user.FirstName</td>
                            <td>@user.MiddleName</td>
                            <td>@user.Course</td>
                            <td>@user.YearLevel</td>
                             <td>@user.Gender</td>
                            <td>@user.Email</td>
                            <td>@user.PhoneNumber</td>
                            <td>
                            <div class="d-flex gap-1">
                                 <button type="button" data-bs-toggle="modal" data-bs-target="#student-update_@(user.UserId)" class="btn btn-success rounded-4"><i class="fa-solid fa-pen-to-square"></i></button>
                                <button type="button" data-bs-toggle="modal" data-bs-target="#deleteModal_@(user.UserId)" class="btn btn-danger rounded-4"><i class="fa-solid fa-trash-can"></i></button>
                                <a asp-page="./UserRecordHistory" asp-route-Id="@user.UserId" class="btn btn-warning rounded-4"><i class="fa-solid fa-eye"></i></a>
                                <partial name="PartialViews/_DeleteRecord" model="user.UserId" />
                                </div>
                               
                            </td>
                        </tr>
                        <vc:update-user id="@user.UserId" />
                    }
                }
            </tbody>
        </table>
    </div>
@section Scripts{
    <partial name="PartialViews/_ValidationScriptsPartial" />
    <script src="~/js/table2excel.js" asp-append-version="true"></script>
    <script src="~/js/ExportToExcel.js" asp-append-version="true"></script>
    <script src="~/js/SelectRecord.js" asp-append-version="true" type="text/javascript"></script>
   
}


