@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}
<div class="d-flex justify-content-center align-items-center mt-5 pt-5">
    <div class="w-50 p-5 rounded bg-white shadow-sm">
        <h4 class="mb-5 py-2  rounded-3 fw-bolder text-primary text-center bg-primary-subtle">Create New Account</h4>
        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
        <form method="post">
            <div class="mb-3">
                <div class="input-group">
                    <span class="input-group-text"><i class="text-primary fs-4 bi bi-person-circle"></i></span>
                    <input asp-for="Input.Email" class="form-control border border-2  rounded border-primary border-opacity-50" placeholder="Username">
                </div>
                <span class="text-danger" asp-validation-for="Input.Email"></span>
            </div>
            <div class="mb-3">
                <div class="input-group">
                    <span class="input-group-text"><i class="text-primary fs-4 bi bi-shield-lock"></i></span>
                    <input asp-for="Input.Password" type="text" class="border border-2 border-primary rounded border-opacity-50 form-control" placeholder="Password">

                </div>
                <span class="text-danger" asp-validation-for="Input.Password"></span>
            </div>
              <div class="mb-3">
                <div class="input-group">
                    <span class="input-group-text"><i class="text-primary fs-4 bi bi-shield-lock"></i></span>
                    <input asp-for="Input.ConfirmPassword" type="text" class="border border-2 border-primary rounded border-opacity-50 form-control" placeholder="Confirm password">

                </div>
                <span class="text-danger" asp-validation-for="Input.ConfirmPassword"></span>
            </div>
            <div class="d-flex justify-content-center align-items-center gap-2">
                <a asp-page="/Application/AdminArea/AccountManagement/Index" type="reset" class="btn btn-outline-primary px-5 rounded-pill">Go Back</a>
                <button type="submit" class="btn btn-primary px-5 rounded-pill">Register <i class="fa-solid fa-arrow-right"></i></button>
            </div>
        </form>
    </div>
</div>

@*
<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Create a new account.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email">Email</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.Password">Password</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
        </form>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h3>Use another service to register.</h3>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                            about setting up this ASP.NET application to support logging in via external services</a>.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins!)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>

*@


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
    